parameters:
	ignoreErrors:
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Exceptions/ScradaException.php

		-
			message: "#^Method Deinte\\\\ScradaSdk\\\\ScradaConnector\\:\\:guardBaseUrl\\(\\) should return non-empty-string but returns string\\.$#"
			count: 1
			path: src/ScradaConnector.php

		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\:\\:expect\\(\\)\\.$#"
			count: 1
			path: tests/ArchTest.php

		-
			message: "#^Function Pest\\\\Plugin\\\\Arch\\\\arch not found\\.$#"
			count: 6
			path: tests/ArchTest.php

		-
			message: "#^Used function Pest\\\\Plugin\\\\Arch\\\\arch not found\\.$#"
			count: 1
			path: tests/ArchTest.php
