parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between non\\-empty\\-string and '' will always evaluate to false\\.$#"
			count: 1
			path: src/Scrada.php

		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\:\\:expect\\(\\)\\.$#"
			count: 1
			path: tests/ArchTest.php

		-
			message: "#^Function Pest\\\\Plugin\\\\Arch\\\\arch not found\\.$#"
			count: 6
			path: tests/ArchTest.php

		-
			message: "#^Used function Pest\\\\Plugin\\\\Arch\\\\arch not found\\.$#"
			count: 1
			path: tests/ArchTest.php
